@import 'antd/dist/reset.css';

.ant-menu-dark ,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item > a,
.ant-menu-dark .ant-menu-item > span > a {
  height:  800px;
  min-width: 60px;
  max-width: 256px;
  transition: height 0.5s; /* Increase the transition duration for a slower effect */
  z-index: 100; /* Set a higher z-index to ensure it's above other content */
  text-decoration: none;

}
.ant-menu-dark{
  background-color: #212529; /* Set your desired background color */
  z-index: 100;
  min-width: 60px;
  max-width: 256px;
  height: calc(100vh - 55px); /* Set the height to fill the remaining viewport height */

}
.ant-btn .ant-btn-primary{
  background-color: #c1a467 ;
}

.column-header {
  border-right: 2px solid black;
}

/* Remove the right border from the last column header */
.column-header:last-child {
  border-right: none;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #c1a467;
  color: #ffffff;
}
/* Apply styles to the parent container */
.container {
  display: flex;
  height: 100vh;
}

/* Sidebar styles */
.sidebar {
  width: 256px; /* Set your desired sidebar width */
  transition: width 0.3s ease-in-out; /* Add a smooth transition effect */
  background-color: #212529; /* Set your desired background color */
  color: white; /* Set text color */
  padding: 16px; /* Add padding as needed */
  overflow-y: auto; /* Add scrollbar if content overflows */
}

/* Main content styles */
.main-content {
  flex-grow: 1; /* Allow content to grow and fill available space */
  padding: 16px; /* Add padding as needed */
  overflow-y: auto; /* Add scrollbar if content overflows */
}

/* Collapse sidebar styles */
.container.collapsed .sidebar {
  width: 60px; /* Set the width of the collapsed sidebar */
}

.container.collapsed .main-content {
  margin-left: 60px; /* Adjust the margin to make space for the collapsed sidebar */
}
