.App {
  text-align: center;
}

.logo{
  margin-left: 900px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.wrapper {
  border: 2px solid;
  margin-top: 50px;
  width: 80%;
  overflow-x: auto; /* Add this line to enable horizontal scrollbar */
}
table {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}



.App-Name{
  margin-left: 550px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.app-container {
  display: flex; /* Use flexbox to create a sidebar and main content layout */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
